{%if breadcrumb[0].id > 0 %}
{%column data="column",pid=breadcrumb[0].id,isnum="1"%}
{%endif%}
{%if category.id%}
{% groups data="groups",cid=category.id%}
{%set cate = category.id|get_cate()%}
{%endif%}
<div id="slider" class="mui-slider" style="top:44px" >
    <div id="sliderSegmentedControl" {%if sort|length>0 or column|length>0 or groups|length>0%} style="width: 90%" {%endif%} class="mui-scroll-wrapper mui-scroll-bar mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <div class="mui-scroll">
            <a class="mui-control-item bar-item {%if order ==100%} mui-active{%endif%}" href="#item1mobile" data-url="/index">
                推荐
            </a>
            <a class="mui-control-item bar-item {%if order ==2%} mui-active{%endif%}" href="#item2mobile" data-url="/index/2">
                热点
            </a>
        </div>
    </div>
    <div class="mui-slider-group " style="height: 0px;" >
        <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">

        </div>
        <div id="item2mobile" class="mui-slider-item mui-control-content">
        </div>
        
    </div>

    {%if sort|length>0 or column|length>0 or groups|length>0%}
    <a href="#more" class="mui-icon iconfont icon-sort mui-pull-right more-icon "></a>
    {%endif%}
</div>
