{% extends "../../common/inc/mobile/appbase.html" %}
{%block style%}
<style>
    .mui-table h4 ,.mui-media-body h4{
        line-height: 21px;
        font-weight: 400;
    }
</style>
{%endblock%}
{% block content %}
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">{{controller.meta_title}}</h1>
</header>
<div class="mui-content">
    <form method="post" class="form-recharge">
        <div class="mui-card">

            <ul class="mui-table-view ">

                <li class="mui-table-view-divider">充值金额</li>
                <div class="mui-input-row padding-10">
                    <input type="number" placeholder="输入充值金额" name="order_amount" min="0.01">
                </div>
            </ul></div>
        <div class="mui-content-padded" style="margin-top: 20px; margin-bottom: 50px">
            <input type="hidden" value="{{order.id}}" name="order_id">
            <button type="button" class="mui-btn mui-btn-primary mui-btn-block" id="pay">下一步</button>
        </div>
    </form>
</div>

{% endblock%}

{% block script %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    function wxinit(){
        $.ajax({url:"/uc/weixin/jsconfig?url="+window.location.origin + window.location.pathname,
                success : function(data) {
                    wx.config({
                      debug: true,
                      appId: data.appId,
                      timestamp: data.timestamp,
                      nonceStr: data.nonceStr,
                      signature: data.signature,
                      jsApiList: [
                        'checkJsApi',
                        'getNetworkType',
                        'previewImage',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareWeibo',
                        'onMenuShareQZone',
                        'hideMenuItems',
                        'showMenuItems',
                        'hideAllNonBaseMenuItem',
                        'showAllNonBaseMenuItem',
                        'chooseWXPay'
                      ]
                  });
                },
                error : function(err, textStatus) {
                    console.log(err);
                }
        });        
    }

    $(document).ready(function(){
        wxinit();
    });


    var falg = false;
    $("#pay").on("tap",function () {
        if(falg){
            return false;
        }
        var order_amount = $("input[name='order_amount']").val();
        var payment = $("input[name='payment']:checked").val();
        if(payment===undefined){
            mui.toast("请选择一种支付方式");
            return;
        }
        console.log(order_amount);
        console.log(payment);
        var that = this;
        $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
        falg = true;
        mui.post("/uc/account/recharge",{order_amount:order_amount,payment:payment},function(data){
            if (data.errno!=1000) {
                if (data.data.url) {
                    mui.toast(data.data.name + ' 即将跳转~');
                }else if(data.data.data){
                    mui.toast(data.data.name);
                    pingpp.createPayment(data.data.data, function(result, err) {
                        console.log(result);
                        console.log(err);
                    });
                }
                setTimeout(function(){
                    $(that).removeClass('disabled').prop('disabled',false);
                    falg=false;
                    if (data.data.url) {
                        mui.openWindow({url: data.data.url})
                    }
                },1500);
            }else{
                mui.toast(data.errmsg);
                setTimeout(function(){
                    $(that).removeClass('disabled').prop('disabled',false);
                    falg=false;
                    if (data.data) {
                        mui.openWindow({url: data.data})
                    }
                },1500);
            }
        },'json');
        return;
    })
</script>
{% endblock %}
