{% extends "../../common/inc/mobile/appbase.html" %}
{%block style%}
<style>
    .mui-table h4 ,.mui-media-body h4{
        line-height: 21px;
        font-weight: 400;
    }
</style>
{%endblock%}
{% block content %}
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">{{controller.meta_title}}</h1>
</header>
<div class="mui-content">
    <form method="post" class="form-recharge">
        <div class="mui-card">

            <ul class="mui-table-view ">
                <li class="mui-table-view-divider">充值金额</li>
                <li>
                <button id="btn_20" type="button" class="mui-btn mui-btn-primary mui-btn-outlined" onclick="recharge(20)" style="padding: 16px 30px;margin: 10px 8px;">
                    20元
                </button>
                <button id="btn_30" type="button" class="mui-btn mui-btn-primary mui-btn-outlined" onclick="recharge(30)" style="padding: 16px 30px;margin: 10px 8px;">
                    30元
                </button>
                <button id="btn_50" type="button" class="mui-btn mui-btn-primary mui-btn-outlined" onclick="recharge(50)" style="padding: 16px 30px;margin: 10px 8px;">
                    50元
                </button>
                </li>
                <li>
                <button id="btn_100" type="button" class="mui-btn mui-btn-primary mui-btn-outlined" onclick="recharge(100)" style="padding: 16px 26px;margin: 10px 8px;">
                    100元
                </button>
                <button id="btn_200" type="button" class="mui-btn mui-btn-primary mui-btn-outlined" onclick="recharge(200)" style="padding: 16px 26px;margin: 10px 8px;">
                    200元
                </button>
                <button id="btn_300" type="button" class="mui-btn mui-btn-primary mui-btn-outlined" onclick="recharge(300)" style="padding: 16px 26px;margin: 10px 8px;">
                    300元
                </button>
                </li>
                
                <div class="mui-input-row padding-10">
                    
                </div>
            </ul></div>
        <div class="mui-content-padded" style="margin-top: 20px; margin-bottom: 50px">
            <input type="hidden" value="{{order.id}}" name="order_id" id="order_id">
            <input type="hidden" value="{{order.amount}}" name="order_amount" id="order_amount">
            <button type="button" class="mui-btn mui-btn-primary mui-btn-block disabled" id="pay">立即充值</button>
        </div>

        <div class="mui-content-padded">
            <p>温馨提示：1元人民币兑换100个金币</p>
        </div>

    </form>
</div>

{% endblock%}

{% block script %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    function recharge(amount){
        $("button").addClass("mui-btn-outlined");
        $("#pay").removeClass("mui-btn-outlined");
        $("#btn_"+amount).removeClass("mui-btn-outlined");
        $("#order_amount").val(amount);
    }

    var falg = true;
    function wxinit(){
        $.ajax({url:"/uc/weixin/jsconfig?url="+window.location.origin + window.location.pathname,
                success : function(data) {
                    wx.config({
                      debug: false,
                      appId: data.appId,
                      timestamp: data.timestamp,
                      nonceStr: data.nonceStr,
                      signature: data.signature,
                      jsApiList: [
                        'checkJsApi',
                        'getNetworkType',
                        'previewImage',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareWeibo',
                        'onMenuShareQZone',
                        'hideMenuItems',
                        'showMenuItems',
                        'hideAllNonBaseMenuItem',
                        'showAllNonBaseMenuItem',
                        'chooseWXPay'
                      ]
                  });
                  falg = false;
                },
                error : function(err, textStatus) {
                    console.log(err);
                }
        });        
    }

    $(document).ready(function(){
        wxinit();
    });

    $("#pay").on("tap",function () {
        if(falg){
            return false;
        }
        var order_amount = $("input[name='order_amount']").val();
        if(order_amount===""){
            mui.toast("请选择充值金额");
            return;
        }
      
        var that = this;
        $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
        falg = true;
        mui.post("/uc/account/recharge",{order_amount:order_amount},function(data){
            if (data.errno!=1000) {
                data = data.data.data;
                wx.chooseWXPay({
                    timestamp: data.timestamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                    nonceStr: data.nonceStr, // 支付签名随机串，不长于 32 位
                    package: data.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                    signType: data.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                    paySign: data.paySign, // 支付签名
                    success: function (res) {
                        console.log(res);
                        mui.toast("充值成功，页面即将跳转");
                        mui.openWindow({url: "/uc"});
                    }
                });
            }else{
                mui.toast(data.errmsg);
                setTimeout(function(){
                    $(that).removeClass('disabled').prop('disabled',false);
                    falg=false;
                },1500);
            }
        },'json');
        return;
    })
</script>
{% endblock %}
