{% extends "../../common/inc/mobile/appbase.html" %}
{% block content %}


{%if category.id%}
{% groups data="groups",cid=category.id%}
{%set cate = category.id|get_cate()%}
{%endif%}

<div class="mui-content">


<div class="mui-input-group mui-table-view" style="text-align:center;">
    <img src="{{info.img}}" height="400px" width="233px" style="">
</div>

    
</div>


{% endblock%}

{% block script %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    function wxinit(){
        $.ajax({url:"/uc/weixin/jsconfig?url="+window.location.origin + window.location.pathname,
                success : function(data) {
                    wx.config({
                      debug: false,
                      appId: data.appId,
                      timestamp: data.timestamp,
                      nonceStr: data.nonceStr,
                      signature: data.signature,
                      jsApiList: [
                        'checkJsApi',
                        'getNetworkType',
                        'previewImage',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareWeibo',
                        'onMenuShareQZone',
                        'hideMenuItems',
                        'showMenuItems',
                        'hideAllNonBaseMenuItem',
                        'showAllNonBaseMenuItem'
                      ]
                  });
                },
                error : function(err, textStatus) {
                    console.log(err);
                }
        });        
    }

    wx.ready(function (){
        let shareData = {
            title: '我亲手贴了春联，你也来试试吧', // 分享标题
            link: 'http://ad.weishitianli.com/{{info.img}}', // 分享链接
            imgUrl: 'http://ad.weishitianli.com/{{info.img}}', // 分享图标
        };
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareAppMessage(shareData);
    });

    function weshare(){
        
    }

    $(document).ready(function(){
        wxinit();
    });

    //console.log();
    mui.init();
    
    mui("#sliderSegmentedControl").on("tap","a.mui-control-item",function(){
        var url = this.getAttribute("data-url");
        //打开关于页面
        //alert(url)
        mui.openWindow({
            url: url
        });
    })
    mui("#pullrefresh .mui-table-view").on("tap","li.mui-table-view-cell > a",function(){
        var url = this.getAttribute("href");
        //打开关于页面
        mui.openWindow({
            url: url
        });
    })
    var tops=parseInt(sessionStorage.getItem("{{http.url}}_top"))||0;
    var size=parseInt(sessionStorage.getItem("{{http.url}}_size"))||0;
    //记录位置
    window.onscroll = function () {
        var patt1 = /\(.*?\)/;
        var srtY = document.querySelector('#pullrefresh .mui-scroll').style.transform || document.querySelector('#pullrefresh .mui-scroll').style["-webkit-transform"];
        if (srtY) {
            var Y = parseInt(srtY.match(patt1)[0].split(",")[1])
        } else {
            var Y = 0;
        }
        var S = document.querySelector('#pullrefresh .mui-table-view').querySelectorAll('li.mui-table-view-cell').length;
        if (window.sessionStorage) {
            sessionStorage.setItem("{{http.url}}_top", Y);
            sessionStorage.setItem("{{http.url}}_size", S);
        }
    }

    mui.ready(function() {

        var btn = document.querySelectorAll(".mui-bar-tab a.mui-tab-item");
        for(var i = 0;i<btn.length;i++){
            btn[i].addEventListener("tap",function () {
                var href = this.getAttribute("href");
                if(href=="#wait"){
                    //todo
                    mui.toast("功能开发中。。。")
                    return
                }
                mui.openWindow({url: href})

            })
        }
    });


</script>

{% endblock %}
