{% extends "../inc/base.html" %}
{% block content %}



{% include "../inc/nav.html" %}
<!--这里放置真实显示的DOM内容-->
<div class="mui-scroll-wrapper">
    <div class="mui-scroll">
        {% topic data = "slider",limit= "5",cid=category.id,position='4',issub="1",ispic="1"%}
        <div id="sliderpic" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                {%set pnus = slider|length -1%}
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="{{slider[pnus].name|get_url(slider[pnus].id)}}">
                        <img src="{{slider[pnus].cover_id|get_pic('m=1,w=360,h=180')}}">
                        <p class="mui-slider-title">{{slider[pnus].title}}</p>
                    </a>
                </div>
                {% for v in slider%}
                <div class="mui-slider-item">
                    <a href="{{v.name|get_url(v.id)}}">
                        <img src="{{v.cover_id|get_pic('m=1,w=360,h=180')}}">
                        <p class="mui-slider-title">{{v.title}}</p>
                    </a>
                </div>
                {%endfor%}
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="{{slider[0].name|get_url(slider[0].id)}}">
                        <img src="{{slider[0].cover_id|get_pic('m=1,w=360,h=180')}}">
                        <p class="mui-slider-title">{{slider[0].title}}</p>
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator mui-text-right">
                {%set isone = 0%}
                {% for v in slider%}
                <div class="mui-indicator {%if isone == 0 %}mui-active{%endif%}"></div>
                {%set isone = isone+1%}
                {%endfor%}
            </div>
        </div>
        <div class="mui-content">
<!--触发字符：mgrid-->
        <ul class="mui-table-view mui-grid-view mui-grid-9">
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-home"></span>
                    <div class="mui-media-body">Home</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-email"><span class="mui-badge">5</span></span>
                    <div class="mui-media-body">Email</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-chatbubble"></span>
                    <div class="mui-media-body">Chat</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-location"></span>
                    <div class="mui-media-body">location</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-search"></span>
                    <div class="mui-media-body">Search</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-phone"></span>
                    <div class="mui-media-body">Phone</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-gear"></span>
                    <div class="mui-media-body">Setting</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-info"></span>
                    <div class="mui-media-body">about</div></a></li>
           <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
                    <span class="mui-icon mui-icon-more"></span>
                    <div class="mui-media-body">more</div></a></li>
        </ul>
        </div>

    </div>
</div>

{% endblock%}

{% block script %}
<script type="text/javascript">
    mui.init({
        swipeBack:true //启用右滑关闭功能
    })
    var slider = mui("#sliderpic");
    slider.slider({
        interval: 5000
    });
    //alert(mui.os.plus)
    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });
    var btn = document.querySelectorAll(".mui-bar-tab a.mui-tab-item");
    for(var i = 0;i<btn.length;i++){
        btn[i].addEventListener("tap",function () {
            var href = this.getAttribute("href");
            if(href=="#top"){
                mui.scrollTo(0,500);
            }else if(href=="#shoucang"){
                //todo
                mui.toast("功能开发中。。。")
                return
            }else if(href=="#fenxiang"){
                //todo
                mui.toast("功能开发中。。。")
                return
            }else {
                mui.openWindow({url: href})
            }

        })
    }

</script>
{% endblock %}