{% extends "./inc/base.html" %} {% block content %}
<section class="vbox">
    <section id="bjax-target">
        <section class="hbox stretch">
            <!-- side content -->
           
            <!-- / side content -->
            <section>
                <section class="vbox">
                     <header class="header bg-light b-b">
                            <p>{{controller.meta_title}}</p>
                        </header>
                    <section class="scrollable wrapper">
                        <section class="panel panel-default">
                            <ul class="breadcrumb">
                                <li><a href="/admin/task/index"><i class="fa fa-home"></i>任务设置</a></li>
                                <li><a href="/admin/task/index"><i class="fa fa-list-ul"></i>任务管理</a></li>
                                <li class="active">任务:&nbsp;{{task.doc.title}}</li>
                                <li>奖励:&nbsp;{{task.reward}}</li>
                            </ul>
                            
                            <div class="row wrapper">
                                <div class="col-sm-9 m-b-xs">
                                    <div class="">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group pull-right">
                                        <input type="text" class="input-sm form-control" placeholder="Search">
                                      <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                                      </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                    <tr>
                                        <th style="width:20px;"><label class="checkbox m-n i-checks"></label></th>
                                        <th class="">承接人</th>
                                        <th class="">承接时间</th>
                                        <th class="">浏览</th>
                                        <th class="">跳转</th>
                                        <th class="">完成</th>
                                        <th class="">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in list %}
                                    <tr>
                                        <td><label class="checkbox m-n i-checks"></label></td>
                                        <td><img src="{{item.user.headimgurl}}" style="width:48px;height:48px"> {{item.user.nickname}}</td>
                                        <td>{{item.create_time | dateformat('Y-m-d H:i:s')}}</td>
                                        <td>{{item.view_num}}</td>
                                        <td>{{item.redirect_num}}</td>
                                        <td>{{item.completed_num}}</td>
                                        <td><a href="/admin/task/stat/id/{{item.id}}/type/1" class="btn btn-sm btn-info">查看</a></td>
                                    </tr>
                                    {% else %}
                                    <tr><td colspan="7"><div class="alert alert-warning alert-block">
                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                        <p>This would display if the 'item' collection were empty</p>
                                    </div></td></tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">


                                    <div class="col-sm-12 text-right text-center-xs">
                                        {{pagerData | safe}}
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>
{% endblock %}

