{% extends "./inc/base.html" %} {% block content %}
<section class="vbox">
    <section id="bjax-target">
        <section class="hbox stretch">
            <!-- side content -->
           
            <!-- / side content -->
            <section>
                <section class="vbox">
                     <header class="header bg-light b-b">
                            <p>{{controller.meta_title}}</p>
                        </header>
                    <section class="scrollable wrapper">       
                        <section class="panel panel-default">
                            <ul class="breadcrumb">
                                <li><a href="/admin/task/index"><i class="fa fa-home"></i>任务设置</a></li>
                                <li class="active"><i class="fa fa-list-ul"></i>任务管理</a></li>
                            </ul>
                            
                            <div class="row wrapper">
                                <div class="col-sm-9 m-b-xs">
                                    <div class="">
                                        <a class="btn btn-sm btn-info" href="/admin/task/add">
                                            添加任务
                                        </a>

                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-info ajax-post" target-form="ids" href="/admin/task/setstatus/status/2" target-form="ids">
                                            审核
                                            </a>
                                            <a class="btn btn-sm btn-info ajax-post" href="/admin/task/setstatus/status/1" target-form="ids">
                                            禁用
                                            </a>
                                            <a class="btn btn-sm btn-info ajax-post" href="/admin/task/setstatus/status/0" target-form="ids">
                                            结束
                                            </a>
                                        </div>

                                <div class="btn-group">
                                            <a class="btn btn-sm btn-info ajax-post" target-form="ids" href="/admin/task/setstatus/status/-1" target-form="ids">
                                            删除
                                            </a>
                                </div>
                                    </div>
                                </div>
                                

                                <div class="col-sm-3">
                                    <div class="input-group pull-right">
                                        <input type="text" class="input-sm form-control" placeholder="Search">
                                      <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                                      </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-striped b-t b-light">
                                    <thead>
                                    <tr>
                                        <th style="width:20px;"><label class="checkbox m-n i-checks"><input type="checkbox"><i></i></label></th>
                                        <th class="">标题</th>
                                        <th class="">奖励</th>
                                        <th class="">类型</th>
                                        <th class="">状态</th>
                                        <th class="">浏览</th>
                                        <th class="">承接</th>
                                        <th class="">完成</th>
                                        <th class="">发布时间</th>
                                        <th class="">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in list %}
                                    <tr>
                                        <td><label class="checkbox m-n i-checks"><input class="ids" type="checkbox" name="ids" value="{{item.id}}"><i></i></label></td>
                                        <td>{{item.doc.title}}</td>
                                        <td>{{item.reward}}金币</td>
                                        <td>{%if item.type == 1 %} 体验类 {%else%} 浏览类{%endif%}</td>
                                        <td>{%if item.status == 1 %} 待审核 {%else%} {%if item.status == 2 %} 发布 {%else%} 已结束{%endif%} {%endif%}</td>
                                        <td>{{item.view_num}}</td>
                                        <td><a href="/admin/task/link/task/{{item.id}}" class="btn btn-sm btn-info">{{item.accept_num}}</a></td>
                                        <td>{{item.complete_num}}</td>
                                        <td>{{item.update_time | dateformat('Y-m-d H:i:s')}}</td>
                                        <td><a href="/admin/task/add/id/{{item.id}}" class="btn btn-sm btn-info">编辑</a>
                                        <a href="/admin/task/link/task/{{item.id}}" class="btn btn-sm btn-info">查看</a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr><td colspan="7"><div class="alert alert-warning alert-block">
                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                        <p>This would display if the 'item' collection were empty</p>
                                    </div></td></tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">


                                    <div class="col-sm-12 text-right text-center-xs">
                                        {{pagerData | safe}}
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>

</section>
{% endblock %}

