<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item {% if controller.http.url == '/index' %}mui-active{%endif%}" href="/index">
        <span class="mui-icon iconfont icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item {% if '2,3' == category.model %}mui-active{%endif%}" href="/article">
        <span class="mui-icon iconfont icon-community"></span>
        <span class="mui-tab-label">文库</span>
    </a>
    <a class="mui-tab-item {% if 8 == category.model %}mui-active{%endif%}" href="/question">
        <span class="mui-icon mui-icon-flag"></span>
        <span class="mui-tab-label">任务</span>
    </a>
    <a class="mui-tab-item {% if controller.http.url == '/uc/ad' %}mui-active{%endif%}" href="/uc/ad">
        <span class="mui-icon iconfont icon-shoplight"></span>
        <span class="mui-tab-label">广告</span>
    </a>
    {% if controller.is_login %}
    <a class="mui-tab-item {% if controller.http.url == '/uc' %}mui-active{%endif%}" href="/uc">
        <span class="mui-icon iconfont icon-my"></span>
        <span class="mui-tab-label">我的</span>
    </a>
    {%else%}
    <a class="mui-tab-item {% if controller.http.url == '/uc/public/login' %}mui-active{%endif%}" href="/uc/public/login">
        <span class="mui-icon iconfont icon-myfill"></span>
        <span class="mui-tab-label">登录</span>
    </a>
    {%endif%}
</nav>