<aside class="aside bg-light dk" id="sidebar">
    <section class="vbox animated fadeInUp">
        <section class="scrollable hover">
            <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                {% for i, v in controller.setup.MENU_GROUP%}
                        {% if  i == 99  %}
                <!--<a href="genres.html" class="list-group-item">
                    {{ v }}
                </a>-->
                  {% for v in controller.adminmenu[i] %}
                      
                <a href="/{{v.url}}" class="list-group-item  {% if controller.active == v.url %} active {% endif %}">
                    {{v.title}}
                </a>
                {% for c in v.children %}
                                
                <a href="/{{c.url}}" class="list-group-item {% if controller.active == c.url %} active {% endif %}">
               
                  {{c.title}}
                </a>
                {% endfor%}
                {% endfor%}
                        {% endif %}
                        {% endfor %}
            </div>
        </section>
    </section>
</aside>