{% extends "../../common/inc/mobile/articlebase.html" %}

{% block bodyattr %}
style="margin-bottom: 150px;background-color: #FFFFFF"
{%endblock%}

{% block content %}

{{adhtml | safe }}
 <div class="mui-content detail" style="background-color: #fff">
     <div class="mui-content-padded">
         <!-- 文章标题 -->
         <h1 class="title" style="text-align: center;">{{info.title}}</h1>
         <hr>

         <div class="task">
             <div>
                <p>我是{{user.nickname}}, 赶快来和我一起体验新产品吧！</p>
             </div>
              
                <button   class="mui-btn mui-btn-success mui-btn-block addr" onclick="adhits('{{id}}', '{{info.link_id}}');">点击体验新产品</button>
                
                <p>此任务完成后可以获得{{task.reward}}金币, 如您已经完成任务，请立即提交凭据，我们会第一时间审核您的信息</p>
                <form class="form-horizontal" action="/task/detail/adhits/id/{{id}}" method="post">
                    <input type="text" name="remark" placeholder="{{task.placeholder}}">
                    <button id="form-horizontal" type="button" class="mui-btn mui-btn-warning mui-btn-block addr">提交</button>
                </form>
                
             
            <div class="warning">
                {%for val in info.content%}
                    {{val|safe}}
                {%endfor%}
             </div>

             <div class="qcode">
                <p>我是{{user.nickname}}, 这是我的二维码，快扫进来：关注之后，您也可以去接任务，得到自己的专属链接！</p>
                <div class="center">
                    <img class="list_img_holder" width="300px" src="/static/qt.png" >
                </div>
             </div>

         </div>

         <div hight="100">
         </div>
 </div>
 {% endblock%}

 {% block script %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    function wxinit(){
        $.ajax({url:"/uc/weixin/jsconfig?url="+window.location.origin + window.location.pathname,
                success : function(data) {
                    wx.config({
                      debug: false,
                      appId: data.appId,
                      timestamp: data.timestamp,
                      nonceStr: data.nonceStr,
                      signature: data.signature,
                      jsApiList: [
                        'checkJsApi',
                        'getNetworkType',
                        'previewImage',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareWeibo',
                        'onMenuShareQZone',
                        'hideMenuItems',
                        'showMenuItems',
                        'hideAllNonBaseMenuItem',
                        'showAllNonBaseMenuItem'
                      ]
                  });
                },
                error : function(err, textStatus) {
                    console.log(err);
                }
        });        
    }

    wx.ready(function (){
        let shareData = {
            title: '{{info.title}}, 赶快来和我一起体验新产品吧！', // 分享标题
            //link: 'http://ad.weishitianli.com/{{info.img}}', // 分享链接
            imgUrl: 'http://ad.weishitianli.com/{{info.img}}', // 分享图标
        };
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareAppMessage(shareData);
    });

    $(document).ready(function(){
        wxinit();
    });

    mui.init();

    function adhits(id, redirect){
        $.post("/task/detail/adhits",{"id":id, "__CSRF__":$('meta[name="__CSRF__"]').attr("content"), "r":Math.random()}).done(function(data){
            window.location.href = "//"+redirect;
        });
    }

    var formorganizing = document.getElementById("form-horizontal");
    formorganizing.addEventListener('tap',function (event) {
        var data = $(".form-horizontal").serialize();
        mui.ajax('/task/detail/adhits/id/{{id}}',{
            data:data,
            dataType:'json',//服务器返回json格式数据
            type:'post',//HTTP请求类型
            timeout:10000,//超时时间设置为10秒；
            headers:{'Content-Type':'application/json'},
            success:function(data){
                //服务器返回响应，根据响应结果，分析是否登录成功；
                if(data.errno == 0){
                    
                  mui.toast(data.data.name);
                   

                }else {
                    
                  mui.toast(data.errmsg);

                
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    })
 </script>
 {% endblock %}